@model LetsGoOut.Domain.DTOs.CreateLinkModel

@{
    ViewBag.Title = "Create Link";
}

<h2>Link</h2>

    <a href="@Url.Action("CreateLinkPost", new { linkType = 1, previous = Model.Previous, next = Model.Next })" class="black-link">
        <i class="fa fa-male"></i>
    </a>
    <a href="@Url.Action("CreateLinkPost", new { linkType = 2, previous = Model.Previous, next = Model.Next })" class="black-link">
        <i class="fa fa-car"></i>
    </a>
    <a href="@Url.Action("CreateLinkPost", new { linkType = 3, previous = Model.Previous, next = Model.Next })" class="black-link">
        <img src="~/Content/Images/london-underground-256.png" style="width: 75px;" />
    </a>


