@model LetsGoOut.ReadModel.Activity
@{
    var previous = (int) ViewBag.Previous;
    var next = (int) ViewBag.Next;
}

<div>
    @if (Model.Type == 0)
    {
        @Html.ActionLink(Model.Type.ToString(), "CreateLink", new { previous = @previous, next = @next})
    }
    else
    {
        @Model.Type
    }
</div>