@model LetsGoOut.Domain.Requests.MoveActivityRequest
@{
    ViewBag.Title = "Move";
}

<h2>Activity Move</h2>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(model => model.Offset)
    
    <input type="submit" value="Move">
}

    